.chat{
    
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    position: absolute;
    left: 0;
    scroll-behavior: smooth;
    
}
.chat .wrapper{
    margin: auto 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    /* scroll-behavior: smooth; */
}
.chat .wrapper div{

    width: 56vw;
    margin-right: 16vw
}
.chat .wrapper div img{
    width: 24vw;
    top:8vh;
    position:relative; 
}
.chat .wrapper div p{  
    position: relative;
    top: 45vh;
    width: 100%;
}


.chat .wrapper div:nth-child(odd) img{
    opacity: 0;
    -webkit-transition: opacity 0.5s 0.5s ease;
    -moz-transition: opacity 0.5s 0.5s ease;
    -o-transition: opacity 0.5s 0.5s ease;
    transition: opacity 0.5s 0.5s ease;
  
    left: 30vw;
 
}
.chat .wrapper div:nth-child(odd) img:hover{
    opacity: 1;
    -webkit-transition: opacity 0.5s 0s ease;
    -moz-transition: opacity 0.5s 0s ease;
    -o-transition: opacity 0.5s 0s ease;
    transition: opacity 0.5s 0s ease;
}

.chat .wrapper div:nth-child(even) p{
    width: 32vw;
}

.chat .wrapper div:nth-child(even) img{
    position:relative;
    left: 32vw;
}
.chat .wrapper .text-box{
    width: fit-content;
    margin: 0;
    align-self: flex-start;
    position: relative;
    top:8vh;
    left: 4vw;
}

.chat .wrapper .text-box h1{
    position: relative;
    top:8vh;

}
.chat .wrapper .text-box h1 span{
    font-size: 30px;
    line-height: 63px;
    letter-spacing: 60px;
    
}
.chat .wrapper ul{
    display: flex;
}
.chat .wrapper ul div{
    display: flex;
    flex-direction: column;
    gap: 21px;
    position: relative;
    top:20vh;
    width:24vw;
    margin: 0;
}
.chat::-webkit-scrollbar{
    display: none;
}

