.enviroments{

   overflow-y: hidden;
    overflow-x: scroll;
    width: 100vw;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);


   
        /* filter: FlipH; */
        /* -ms-filter: "FlipH"; */
        position: absolute;
        left: 0;
        scroll-behavior: smooth;
}

.enviroments .wrapper{
    display: flex;
    gap: 8vw;
    position: relative;
    top: 17vh;
    
    width: fit-content;
    padding: 0 24vw;
    

}

/* h1{
    position: fixed;
    top: 30vh;
} */
.nav-env .char{
  opacity: 0;
}



/* per lo slider guarda https://keen-slider.io/ */


/* width */
.enviroments::-webkit-scrollbar {
    height: 3px ;
    /* width: 100%; */
    
  }
  
  /* Track */
  .enviroments::-webkit-scrollbar-track{
    background: #858585e0; 
    margin-left: 24vw;
    margin-right: 8vw;

  }
  
  ::-webkit-scrollbar-track-piece{
    border: 1px solid #0A0A0A;
  }
 

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8B00BC;
    height: 3px; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bb01ff; 
  }