.charaters{
    /* background-color: aqua; */
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100vw;
    height: 70vh;
    position: absolute;
    left: 0;
    scroll-behavior: smooth;
}

.charaters .wrapper{
    display: flex;
    gap: 8vw;
    position: relative;
    /* left: 16vw;  */
    top: 17vh;
    width: fit-content;
   margin: 0 24vw
    /* position: relative;
    left: 0; */

}


.t-a-end{
  width: 100%;
  text-align: end;
}

/* per lo slider guarda https://keen-slider.io/ */


/* width */
::-webkit-scrollbar {
    height: 3px ;
  }
  
  /* Track */
  ::-webkit-scrollbar-track{
    background: #858585e0; 
    margin-left: 24vw;
    margin-right: 8vw;

  }

  ::-webkit-scrollbar-track-piece{
    border: 1px solid #0A0A0A;
  }
 

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8B00BC;
    height: 3px; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bb01ff; 
  }