
.home{height: 70vh;}
.texbox{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20vh;
    margin: 0 auto;
    width: 50%;
}

.texbox p{
    text-align: center;
}

.canvas{
    position: absolute!important;
    top:0 !important;
    left: 0 !important;
   height: 100vh !important;
   width: 100vw !important;
   }

