header{ 
    display: flex;
    justify-content: center;
    /* width: 83.4vw; */
}

header nav ul li a img{
    width:100%;
    height: 100%;
}


.nope{
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s ease;
    -moz-transition: opacity 0.5s 0s ease;
    -o-transition: opacity 0.5s 0s ease;
    transition: opacity 0.5s 0s ease;
}