footer{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
footer nav{

    display: flex;
    justify-content: space-between;
    width: 53.6%;
    margin-top: 5vh;
    position: fixed;
    bottom:4vh;
    
}

.lets-chat{
    position: fixed;
    left: 48%;
    margin:0;
}